[Unit]
Description=Concordant Service
Wants=couchdb.service
After=network.target couchdb.service

[Service]
User=node
WorkingDirectory=/home/node/c-service
EnvironmentFile=/etc/systemd/system/c-service.conf
ExecStart=/usr/bin/npx @concordant/c-service
Restart=on-failure

Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target